
@{
    ViewBag.Title = "Contact";
}

@section stylesheets {
    <link href="~/css/index.css" rel="stylesheet" />
}

<h2>Contact</h2>
<div class="jumbotron">
    <p>We are ready to take on new klients and are always happy to hear feedback!</p>
    <p>You can always reach us on <a>h1h2@hotmail.se</a></p>
    <br />
    <p>Or you can send us a message through our site in the box below </p>
    <div class="form-group">
        <label for="Message">Message</label>
        <textarea class="form-control" rows="5" id="message"></textarea>
        
        <p>Please make sure to enter a email or other contact info so we can reach out!</p>
    </div>
</div>

