
@{
    ViewBag.Title = "Index";
}

@section stylesheets {
    <link href="~/css/index.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Mountain Dev.</h1>
    <p>
        We are a group of T4 students at Östra Gymnasiet.
        This is our team website and it is built using Bootstrap.
        The website you are viewing right now is a product from wat we have learned so far in to the education.
        There is more to come and a lot of exciting things that we will be adding.
        So stay put in the future!
    </p>

    <p>
    But this website would not be complete without a link to <a href="https://github.com/">Github</a>, so we have added them at the bottom of this jumbotron.
    </p>

    <h3>Github links:</h3>

    <p>
        <a class="btn btn-primary btn-lg" href="https://github.com/Mountain-Dev">Organization</a>
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="https://github.com/Mountain-Dev/Team-Website">Repository</a>
    </p>

</div>