
@{
    ViewBag.Title = "Index";
}

@section stylesheets {
    <link href="~/css/index.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Mountain Dev.</h1>
    <p>
        We are a group of T4 students at Östra Gymnasiet.
        This is our team website and it is built using Bootstrap.
        The website you are viewing right now is a product from wat we have learned so far in to the education.
        There is more to come and a lot of exciting things that we will be adding.
        So stay put in the future!
    </p>

    <p>
    But this website would not be complete without a link to <a href="https://github.com/">Github</a>, so we have added them at the bottom of this jumbotron.
    </p>

    <h3>Github links:</h3>

    <p>
        <a class="btn btn-primary btn-lg" href="https://github.com/Mountain-Dev">Organization</a>
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="https://github.com/Mountain-Dev/Team-Website">Repository</a>
    </p>

</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/mountain-dew.jpg" alt="Mountain Dew can"/>
            <div class="caption">
                <h3>Mountain Dew</h3>
                <p>
                    When people see or read our name, they often think that we are in some kind related to Mountain Dew. 
                    But that is not the case!
                    We got the idea of our name from them and we are not, in any way, associated with <a href="http://www.mountaindew.com/">Mountain Dew</a>.
                </p>

                <p>
                    But it is kinda funny, is it not?
                </p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/mountain-dev-logo.png" alt="Mountain Dev logo" />
            <div class="caption">
                <h3>Mountain Dev.</h3>
                <p>
                    We are a small team of developers attending a fourth year in Swedish high school.
                    As said in the jumbotron, this is our team website that is built using bootstrap.
                    The team we have is a choosen team by our teachers, created so we can work with other people then we usually work with.
                    Teamwork is improving as we get to know eachother better.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/mountain.png" alt="Mountain" />
            <div class="caption">
                <h3>Mountain Dev.</h3>
                <p>
                    This is also a fundation piece of our name and group motto.
                    A mountain. 
                    We want to be able to climb the mountain for you (metaphor for building a program) and build an easy way for you to conqer it, with a bit of help from us.
                </p>

                <p>
                    That is nice of us? Right?
                </p>
            </div>
        </div>
    </div>
</div>