
@{
    ViewBag.Title = "Index";
}

@section stylesheets {
    <link href="~/css/index.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>Mountain Dev.</h1>
    <p>
        We are a group of T4 students at Östra Gymnasiet.
        This is our team website and it is built using Bootstrap.
        But this website would not be complete without a link to Github, so we have added them at the bottom of this jumbotron.
    </p>
</div>